﻿<div class="jumbotron">
    <h1>My Cloud University REST API</h1>
    <p class="lead">This is the website for the REST Api for the My Cloud University Service.</p>
    <p><a href="http://mcurestapi.azurewebsites.net/Help" class="btn btn-primary btn-lg">View Api &raquo;</a></p>
</div>
</div>
